["max non-number throws"
 "min-key keys nonnum"
 "neg? keyword"
 "< nil"
 "> with nil"
 "max non-number"
 "neg? throws"
 "vector index"
 "map key as fn"
 "map key default"
 "set membership"
 "set miss default"
 "collection key"
 "xml-seq walks"]
